@use '@/styles/variables' as *;

.page {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: $font-size-2xl;
  font-weight: $font-weight-bold;
  color: $color-text-dark;
  margin: 0;
}
